@*Added by Shazia on Aug 8, 2023 *@
@{
    ViewData["Title"] = "Subscription Percent";
}
@using GridMvc
@using GridCore
@using paisa2u.common.Resources
@using System.Web;
@addTagHelper*, Microsoft.AspNetCore.Mvc.TagHelpers
@using paisa2u.common.Models
@*@using NonFactors.Mvc.Grid;*@
@model IEnumerable<SubscriptionResource>


<section class="py-2" id="Opportuanities">
    <script>
        function hideme(name) {
            if (name.id == 'Edit' || name == 'Edit') {
                var x = document.getElementById('defaultdiv');
                x.style.display = "none";
                var y = document.getElementById('edit');
                y.style.display = "block";

            }
            else if (name.id == 'Delete' || name == 'Delete') {
                var x = document.getElementById('defaultdiv');
                x.style.display = "block";
                var y = document.getElementById('edit');
                y.style.display = "none";

            }

            else if (name.id == 'Cancel' || name == 'Cancel') {

                var x = document.getElementById('defaultdiv');
                x.style.display = "block";
                var y = document.getElementById('edit');
                y.style.display = "none";

            }
        }//function Add closes
        function GetPercById(lRegId) {
            alert('RegId ' + lRegId);
            $.ajax({
                type: "GET",
                url: "https://localhost:7172/api/Subscriptionpercs/GetSubsPercentByRegId",
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                data: { RegId: lRegId },
                success: function (response) {
                    alert(JSON.stringify(response));

                    $('#Appowner').val(response.appowner);
                    $('#Vendor').val(response.vendor);
                    $('#Subvendor').val(response.subvendor);
                    $('#Customer').val(response.customer);
                    $('#Endate').val(response.endate);
                    $('#Enuser').val(response.enuser); //whoever is logged in cookies["userid"]
                    $('#Recid').val(response.recid);
                    $('#RegId').val(response.regId);
                    //location.reload();
                },
                failure: function (data) {
                    alert('failure in getting vendors');
                    alert(data.responseText);
                },
                error: function (xhr, ajaxOptions, thrownError) {
                    alert(xhr.status);
                    alert(thrownError);
                } //error

            });//ajax closure
       }
 
    </script>
    <div class="container" style="top: 10px;">  
        <div class="row flex-center h-10" id="defaultdiv">
        <div class="col-md-12">
            <div class="row">
                <h5 style="text-align:center"> @ViewBag.Admin</h5>
                        @(
                                Html.Grid(Model).Columns(columns =>
                                 {
                                     columns.Add(model => model.Appowner).Titled("App owner");
                                     columns.Add(model => model.Vendor).Titled("Vendor");
                                     columns.Add(model => model.Customer).Titled("Customer");
                                     columns.Add(model => model.Subvendor).Titled("Sub Vendor");
                                     columns.Add(model => model.Endate).Titled("Entry date");
                                     columns.Add(model => model.Enuser).Titled("Entry user");
                                     columns.Add(model => model.RegId).Titled("Registration Id");
                                     columns.Add(model => model.Recid).Titled("Record Id");
                                     columns.Add()
                                     .Encoded(false)
                                     .Sanitized(false)
                                     .SetWidth(40)
                                    .RenderValueAs(o => @<a href="#" onclick='hideme(Edit); GetPercById(@o.RegId);' data-modal='' id="ss" name="ss" data-id="@o.RegId" class="btn btn-success ss"> Update <span class='glyphicon  glyphicon-user'> </span> <img src="~/images/editicon.png" width="20" height="20" /> </a>);
                                    columns.Add()
                                    .Encoded(false)
                                    .Sanitized(false)
                                    .SetWidth(40)
                                    .RenderValueAs(o => @<a href="#" onclick='hideme(Delete); DeleteRecord(@o.Recid);' data-modal='' id="sd" name="sd" data-id="@o.Recid" class="btn btn-success ss"> Delete <span class='glyphicon  glyphicon-user'> </span> <img src="~/images/delicon.png" width="20" height="20" /> </a>);

   @*columns.Add(model => $"<a  onclick='hideme(123);' data-modal='' data-id=" + @model.RegId + " href='#' name=\"ss\" id=\"ss\" asp-action=\"PR\" asp-route-id=\"@model.Regid\" class=\"btn btn-success ss\" '> Update <span class='glyphicon      glyphicon-user'> </span> </a>").Encoded(false);*@
                                

                        }).Sortable().Filterable()
                    )

               
            </div>
            </div>
             </div>
        <div id="edit" name="edit">
            <div id="default" style="width:99%;align-self:center;align-content:center">
                <form id="frmeditsubsperc" method="post">
                    <table width="100%">
                        <tr valign="middle">
                            <td width="50%">
                                <h4>Edit Subscription Percent</h4>
                            </td>
                            <td width="50%" align="right">
                                <button type="button" class="btn btn-primary submit mb-4" onclick="hideme('defaultdiv');location.reload()">Cancel</button>
                                <button type="button" class="btn btn-primary submit mb-4" onclick="EditSubsPercent()">Save</button>
                            </td>
                        </tr>
                    </table>
                    <div style="width:90%;align-self:center;align-content:center">

                        <div class="col-md-6 con-left">
                            <div class="form-group" style="text-align:left">
                                <input type="hidden" id="Recid" />
                                <input type="hidden" id="RegId" />
                                <input type="hidden" id="Endate" />
                                <input type="hidden" id="Enuser" />
                                <label class="my-2">App Owner</label>
                                <input class="form-control" type="text" name="Appowner" id="Appowner" placeholder="" required="" style="width:500px;">
                            </div>
                            <div class="form-group" style="text-align:left">
                                <label class="my-2">Vendor</label>
                                <input class="form-control" type="text" name="Vendor" id="Vendor" placeholder="" required="" style="width:500px;">
                            </div>
                            <div class="form-group" style="text-align:left">
                                <label class="my-2">Customer</label>
                                <input class="form-control" type="text" name="Customer" id="Customer" placeholder="" required="" style="width:500px;">
                            </div>
                            <div class="form-group" style="text-align:left">
                                <label class="my-2">Subvendor</label>
                                <input class="form-control" type="text" name="Subvendor" id="Subvendor" placeholder="" required="" style="width:500px;">
                            </div>
                        </div>
                        <script>
                            function DeleteRecord(lRecId) {
                                //var Recid = $(sd).data('id');
                                alert("recid " + lRecId);
                                alert('here');
                                $.ajax({
                                    type: 'GET',
                                    url: 'https://localhost:7172/api/Subscriptionpercs/DeleteSubsPerc',
                                    contentType: 'application/json; charset=utf-8',
                                    dataType: "json",
                                    data: { Recid: lRecId },
                                    success: function (result) {
                                        alert(" subscription% has been deleted ");
                                        location.reload();
                                    }
                                    , error: function (result) {
                                        alert("err " + result.responseText);
                                    }
                                });//ajax closure
                            }



                            function EditSubsPercent() {

                                var formData = new FormData();
                               
                                formData.append("Appowner", $("#Appowner").val());
                                formData.append("Vendor", $("#Vendor").val());
                                formData.append("Customer", $("#Customer").val());
                                formData.append("Subvendor", $("#Subvendor").val());
                                formData.append("Endate", $("#Endate").val());
                                formData.append("Enuser", $("#Enuser").val());
                                formData.append("Recid", $("#Recid").val());
                                formData.append("RegId", $("#RegId").val());
                                alert("regid "+ $("#RegId").val());
                                alert("Vendor " + $("#Vendor").val());
                                alert('here');

                                $.ajax({
                                    url: 'https://localhost:7172/api/Subscriptionpercs/UpdateSubsPerc',
                                    type: 'POST',
                                    contentType: 'application/json; charset=utf-8',
                                    dataType: "json",
                                    data: formData,
                                    processData: false,
                                    contentType: false,
                                    success: function (result) {
                                        alert(" % has been edited ");
                                        location.reload();
                                    }
                                    , error: function (result) {
                                        alert("err " + result.responseText);
                                    }
                                })
                            }
                        </script>
                    </div>
                </form>

            </div>
        </div>
    </div>

</section>
