@{
    ViewData["Title"] = "Home Page";
}
@using paisa2u.common.Models
@model IEnumerable<ProductByVendor>

<section class="py-5" id="Opportuanities">
    @*<div class="bg-holder d-none d-sm-block" style="background-image:url(assets/img/illustrations/bg.png);background-position:top left;background-size:225px 755px;margin-top:-17.5rem;">
    </div>*@
    <!--/.bg-holder-->
    
    <div class="container" style="top: 50px;">
        <div class="row">

            <div id="welcome"  @*style="display:none"*@>
                @if (@ViewBag.message != null)
                {
                    <label id="welcomemessage"> @ViewBag.message </label>
                }


            </div>
        </div>
        <div class="row align-items-center min-vh-75 min-vh-lg-100">
            <div class="col-md-7 col-lg-6 col-xxl-5 py-6 text-sm-start text-center">
                <h1 class="mt-6 mb-sm-4 fw-semi-bold lh-sm fs-4 fs-lg-5 fs-xl-6">A New Way to Invest <br class="d-block d-lg-block" />in Agriculture</h1>
                <p class="mb-4 fs-1">Zou provides farmes, ranchers, private foresters, and agricultural producers with online self service applications and educational materials.</p><a class="btn btn-lg btn-success" href="#" role="button">Invest Now</a>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-9 mx-auto text-right mb-3" style="background-color:#66BB6A">
                <label class="fw-medium" style="color:white;font-weight:300;">Search by:</label>
                
                <form action="@Url.Action("GetSearch", "Home")" method="post">
                <select id="options" name="options">
                        <option value="All">All</option>
                        <option value="Vendor">Vendor</option>
                        <option value="Category">Category</option>
                        <option value="Product">Product</option>
                </select>
                    <select id="list1" name="list1">
                        <option value="0">All</option>
                    </select>
                    <button type="submit" class="btn btn-default" id="Find">
                        <span class="glyphicon
                        glyphicon-search"></span> Find
                    </button>
                </form>
                
                @section Scripts {
                <script type="text/javascript">
                    $('#options').change(function() {
                           // alert('ajax fired');
                           var Option = $('#options'); //vendor/products
                           var MySelect = $('#list1');//list
                            MySelect.empty();
                            if (options.value == 'Vendor') {
                                $.ajax({
                                type: "GET",
                                url: "https://localhost:7172/api/Vendors/GetVendor",
                                contentType: "application/json; charset=utf-8",
                                dataType: "json",
                                success: function (data) {
                                   //alert(JSON.stringify(data));
                                        MySelect.append("<option value='" + "0" + "'>" + "All" + "</option>");
                                           $.each(data, function (index, response) {
                                            MySelect.append("<option value='" + response.Vendorid + "'>" + response.Firstname + "</option>");
                                        }); //each
                                
                                },
                                 failure: function (data) {
                                    alert('failure in getting vendors');
                                    alert(data.responseText);
                                },
                                error: function (xhr, ajaxOptions, thrownError) {
                                    alert(xhr.status);
                                    alert(thrownError);
                                } //error
                                });//ajax closure
                            } else if (options.value == 'Category') {
                                MySelect.empty();
                                $.ajax({
                                    type: "GET",
                                    url: "https://localhost:7172/api/Categories/GetCategories",
                                    contentType: "application/json; charset=utf-8",
                                    dataType: "json",
                                    success: function (data) {
                                         MySelect.append("<option value='" + "0" + "'>" + "All" + "</option>");
                                        $.each(data, function (index, response) {
                                          MySelect.append("<option value='" + response.catid + "'>" + response.catdesc + "</option>");
                                        }); //each

                                    },
                                    failure: function (data) {
                                        alert('failure in getting categories');
                                        alert(data.responseText);
                                    },
                                    error: function (xhr, ajaxOptions, thrownError) {
                                        alert(xhr.status);
                                        alert(thrownError);
                                    } //error
                                });//ajax closure
                            }
                            else  {
                                MySelect.empty();
                                $.ajax({
                                    type: "GET",
                                    url: "https://localhost:7172/api/Products/GetProducts",
                                    contentType: "application/json; charset=utf-8",
                                    dataType: "json",
                                    success: function (data) {
                                        MySelect.append("<option value='" + "0" + "'>" + "All" + "</option>");
                                        $.each(data, function (index, response) {
                                        MySelect.append("<option value='" + response.productid + "'>" + response.productname + "</option>");
                                        }); //each

                                    },
                                    failure: function (data) {
                                        alert('failure in getting Products');
                                        alert(data.responseText);
                                    },
                                    error: function (xhr, ajaxOptions, thrownError) {
                                        alert(xhr.status);
                                        alert(thrownError);
                                    } //error
                                });//ajax closure
                            }
                            })//option change
                                        
                </script>
                }
                
                
                
            </div>
        </div>
        <div class="row flex-center h-100">
            <div class="col-xl-9">
                <div class="row">
                    
                    <!--Loop -->
                    @foreach (var i in Model)
                    {
                    <div class="col-md-4 mb-5">
                        <div class="card h-100 shadow px-4 px-md-2 px-lg-3 card-span pt-6">
                            <div class="text-center text-md-start card-hover">
                                <img class="ps-3 icons" src="   assets/img/icons/farmer.svg" height="60" alt="" />
                                <div class="card-body">
                                        <h6 class="fw-bold fs-1 heading-color">@i.Firstname</h6>
                                    <p class="mt-3 mb-md-0 mb-lg-2">@i.Catdesc</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    }
                    <!--Loop -->
                    @*<div class="col-md-4 mb-5">
                        <div class="card h-100 shadow px-4 px-md-2 px-lg-3 card-span pt-6">
                            <div class="text-center text-md-start card-hover">
                                <img class="ps-3 icons" src="assets/img/icons/growth.svg" height="60" alt="" />
                                <div class="card-body">
                                    <h6 class="fw-bold fs-1 heading-color">Grow your business</h6>
                                    <p class="mt-3 mb-md-0 mb-lg-2">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 mb-5">
                        <div class="card h-100 shadow px-4 px-md-2 px-lg-3 card-span pt-6">
                            <div class="text-center text-md-start card-hover">
                                <img class="ps-3 icons" src="assets/img/icons/planting.svg" height="60" alt="" />
                                <div class="card-body">
                                    <h6 class="fw-bold fs-1 heading-color">Social Impact Invesment</h6>
                                    <p class="mt-3 mb-md-0 mb-lg-2">At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos</p>
                                </div>
                            </div>
                        </div>
                    </div>*@
                </div>
            </div>
        </div>
    </div>
</section>
